


html{
	 font-family : verdana, cursive , sans-serif;
     font: inherit;
	 margin:0;
	 padding:0;
	 border:0;
	 vertical-align:baseline;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url("LislePark1.JPG");
    background-attachment:local;
    background-size:cover;
}

div#container{
    margin-top: 5%;
    width:80%;
    margin-left:auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: palevioletred;
    
}


header{
    margin: 0;
    padding: 00px;
    height: 12%;
    position: relative;
    border-radius: 10px;
    overflow:hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efc5ca+0,d24b5a+71,ba2737+89,ba2737+89,ba2737+92,f18e99+100 */
    background: #efc5ca; /* Old browsers */
    background: -moz-linear-gradient(top, #efc5ca 0%, #d24b5a 71%, #ba2737 89%, #ba2737 89%, #ba2737 92%, #f18e99 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #efc5ca 0%,#d24b5a 71%,#ba2737 89%,#ba2737 89%,#ba2737 92%,#f18e99 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #efc5ca 0%,#d24b5a 71%,#ba2737 89%,#ba2737 89%,#ba2737 92%,#f18e99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ); /* IE6-9 */
}

/* title is inside header */
h2#title{
    text-align: center;
    text-shadow: 2px 2px white;
    text-decoration-style: wavy;
    text-emphasis-style: triangle;
    font-size: 2.0em;
    font-weight: 300;
    font-family:fantasy;
    width: 100%;
    height: 100%;
    padding-top: 16px;
    vertical-align:middle;
    
}


table{
    align-content: center;
    align-self: center;
    column-width: auto;
    border-bottom-width: thick;
    border-radius: 10px;
    table-layout: auto;
}
thead {
    color:green;
    background-color:powderblue;
    text-decoration-style: double;
    font-size: 1.3em;
    font-family: sans-serif;
    text-shadow: 2px 2px white;
    
}

.profile{
    color:green;
    background-color:powderblue;
    text-decoration-style: double;
    font-size: 1.1em;
    font-family:monospace;
    text-shadow: 2px 2px white;
}
tbody {
    color:blue;
    background-color:antiquewhite;
}
tfoot {
    color:red;
}
table,th,td{
    border:1px solid black;
    column-rule-width: thick;
}

footer{
	border-radius: 5px;
	padding: 5px;
	letter-spacing: 1px;
	color: black;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
    text-shadow: 1px 1px red;   
}

