
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*************************************************/
/* end http://meyerweb.com/eric/tools/css/reset/ */
/*************************************************/

html{
	 font-family : verdana, cursive , sans-serif;
     font: inherit;
	 margin:0;
	 padding:0;
	 border:0;
	 vertical-align:baseline;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url("LislePark1.JPG");
    background-attachment:local;
    background-size:cover;
}

div#container{
    margin-top: 5%;
    width:80%;
    height:auto;
    margin-left:auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: palevioletred;
    position: relative;
    border-radius: 10px;
    
}


header{
    margin: 0;
    padding: 00px;
    position: relative;
    border-radius: 10px;
    overflow:hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efc5ca+0,d24b5a+71,ba2737+89,ba2737+89,ba2737+92,f18e99+100 */
    background: #efc5ca; /* Old browsers */
    background: -moz-linear-gradient(top, #efc5ca 0%, #d24b5a 71%, #ba2737 89%, #ba2737 89%, #ba2737 92%, #f18e99 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #efc5ca 0%,#d24b5a 71%,#ba2737 89%,#ba2737 89%,#ba2737 92%,#f18e99 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #efc5ca 0%,#d24b5a 71%,#ba2737 89%,#ba2737 89%,#ba2737 92%,#f18e99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
}

/* title is inside header */
h2#title{
    text-align: center;
    text-shadow: 2px 2px white;
    font-size: 1.5em;
    font-weight: 300;
    font-family:fantasy;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align:middle;
    
}



table{
    border-collapse:inherit;
    border-spacing: 3px;
    border-width: thick;
    align-content: center;
    align-self: center;
    column-width: auto;
    border-radius: 10px;
    table-layout:inherit;
    font-family: monospace;
    position: relative;
}


thead {
    color:green;
    background-color:powderblue;
    text-decoration-style: double;
    font-size: 1.4em;
    font-family: sans-serif;
    text-shadow: 2px 2px white;
    
}

#top-left{
    background-color:darkblue;

}

.profile{
    color:green;
    background-color:powderblue;
    text-decoration-style: double;
    font-size: 1.1em;
    font-family:monospace;
    text-shadow: 2px 2px white;
    font-weight: 600;
    vertical-align:baseline;
}
tbody {
    color:blue;
    background-color:antiquewhite;
    height:inherit;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 1.3em;
}
tfoot {
    color:red;
}
table,th,td{
   border:1px solid black;
   column-rule-width: thick;
}

footer{
	border-radius: 5px;
	padding: 5px;
	letter-spacing: 1px;
	color: black;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
    text-shadow: 1px 1px red;   
}

